html
    head
        meta(charset='utf-8')
        title = 'TO DO list'
    body
        hi= toDoListTitle
        form(action = '/add_list' method='post')
            p
                label(for="content") 할일 추가:
                input(type="text" name="content")
                input(type="submit" value="추가하기")
            p
                ul
                    each val in toDoLists
                        li= val